<main class="main">
  <div class="content">
    <div class="left-side">
      <p>Test</p>
      <h1>Testing, {{ title }}</h1>
      <p>The app is running. 🎉</p>
      <p>I can add more base html in the component html file</p>
      <div class="red-button-layout">
        <red-button></red-button>
        <red-button></red-button>
        <red-button></red-button>
      </div>
      
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
  </div>
</main>


<router-outlet></router-outlet>
